/addons_xml_generator2.py
/context.salts.tools/
/plugin.video.1channel/
/plugin.video.salts/
/repository.k3l3vra/
/script.1channel.themepak/
/script.salts.themepak/
/.project
/.pydevproject
/script.module.tknorris.shared/
